<div class="container">
    <h1 class="text-center pt-3 pb-3">Upload files con Nodejs,mysql, multer</h1>
    <div class="row ">
        <div class="col-sm-6">
            <form (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Seleccione la imagen</label>
                    <input type="file" class="form-control" accept="image/*" (change)="selectImage($event)" name="image" id="">
                </div>
                <br>
                <button type="submit" class="btn btn-outline-primary">Upload</button>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img [src]="imgUl" class="card-img-top" style="display:block; width:100px" alt="...">
            </div>
        </div>
    </div>
</div>

<br>
<hr>

<hr>
<div class="clearfix"></div>

<h2 class="text-center">Imagenes subidas</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let img of images">
            <div class="card">
                <div class="card-header bg-dark text-white ">
                    {{img.nombre}}
                </div>

                <div class="card-body">
                    <img src="http://localhost:3000/{{img.imagen}}" style="display:block; width:100px" class="img-responsive card-img-top" alt="">
                </div>
                <button (click)="deleteImg(img.id)" class="btn btn-outline-danger btn-block" id="img.id">Eliminar</button>
            </div>
        </div>
    </div>
</div>